[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.3.3"
allpairspy = "==2.5.1"
approval-utilities = "==14.0.0"
approvaltests = "==14.0.0"
beautifulsoup4 = "==4.12.3"
bottle = "==0.13.1"
certifi = "==2024.8.30"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
colorama = "==0.4.6"
distlib = "==0.3.8"
empty-files = "==0.0.9"
eventsourcing = "==9.3.2"
filelock = "==3.16.0"
idna = "==3.8"
iniconfig = "==2.0.0"
markdown-it-py = "==3.0.0"
mdurl = "==0.1.2"
mock = "==5.1.0"
mrjob = "==0.7.4"
packaging = "==24.1"
pipenv = "==2024.0.1"
platformdirs = "==4.3.2"
pluggy = "==1.5.0"
pygments = "==2.18.0"
pyperclip = "==1.9.0"
pytest-approvaltests = "==0.2.4"
pyyaml = "==6.0.2"
requests = "==2.32.3"
rich = "==13.8.1"
shellingham = "==1.5.4"
soupsieve = "==2.6"
testfixtures = "==8.3.0"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.2"
virtualenv = "==20.26.4"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.12"
